.engineer {
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  & .info {
    display: flex;
    column-gap: 8px;
    align-items: center;

    &:hover {
      & .divider {
        border-bottom-color: var(--color-neutral-300);
      }
    }

    & .showDefinition {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      color: var(--color-foreground-subtle);
      cursor: pointer;
      background: var(--color-neutral-50);
      border: 1px solid var(--color-neutral-200);
      border-radius: 50%;
      transition: 0.2s ease-in-out;

      &.shown {
        transform: rotate(45deg);
      }
    }

    & .name {
      font-weight: 500;
    }

    & .divider {
      flex-grow: 1;
      border-bottom: 1px dashed var(--color-neutral-200);
      transition: 0.2s;
    }

    & .links {
      display: flex;
      column-gap: 4px;
      align-items: center;

      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        font-size: var(--font-2xsm);
        color: var(--color-foreground-subtle);
        text-decoration: none;
        background-color: var(--color-neutral-50);
        border: 1px solid var(--color-neutral-200);
        border-radius: 999px;
        transition: 0.2s;

        &:hover {
          color: var(--color-foreground);
          background-color: var(--color-neutral-100);
          border-color: var(--color-neutral-300);
        }
      }
    }
  }

  & .definition {
    overflow: hidden;

    & .content {
      padding: 12px 0 4px;
      font-size: var(--font-sm);

      & h2 {
        margin-bottom: 8px;
        font-weight: 500;
        line-height: 1.6;
      }

      & p {
        line-height: 1.6;
        color: var(--color-foreground-subtle);
      }
    }
  }
}
