---
import type { DesignEngineers } from '@/data/list';
import { padNumber } from '@/helpers/number';
import { Engineers } from './engineers';

export interface Props {
  list: DesignEngineers;
}

const list = Astro.props.list;
---

<section class="list">
  <div class="count">
    (<span>{padNumber(list.length, 3)}</span> design engineers)
  </div>

  <Engineers client:load engineers={list} />
</section>

<style>
  .list {
    padding-bottom: 120px;

    & .count {
      margin-bottom: 24px;
      font-size: var(--font-xsm);
      color: var(--color-foreground-subtler);
      text-align: right;

      & span {
        font-family: var(--font-mono);
        color: var(--color-foreground-subtle);
      }
    }
  }
</style>
